.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 4px 6px rgba(0, 84, 84, 0.238); */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    padding: auto;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 30px;
    z-index: 20;
}

nav.px{
    padding: 20px 92px;
}

.navbar .nav-list{
    display: flex;
    gap: 82px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}


.humberger{
    background-color: #FFA500;
    padding: 10px 15px;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    display: none;
}
.navbar .logos {
    color: #FFA500;
    padding-top: 10px;
    width: 200px;
}

.nav-item .active{
    border-bottom: 2px solid #FFA500;
    padding: 5px;
}

.mobilemenu{
    display: none;
}

@media screen and (max-width:768px){
    
    .navbar{
        overflow: hidden;
    }
    nav.px{
        padding: 10px 20px;
    }
    .navbar .nav-list{
        display: none;
    }

    .mobilemenu{
        display: block;
    }
    
    .humberger{
        display: block;
        width: 45px;
    }
    
    .navbar .signin{
        display: none;
    }

    .nav-item .active{
        border-bottom: none;
        padding: 5px;
    }

    .mobcon{
        top: 0px;
        min-height: 100%;
        overflow: hidden;
        width: 100%;
        right: 0;
        margin: auto;
        /* background-color: #FFA500; */
        background-color: #ffffff;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        z-index: 20;
        font-size: 30px;
        margin-top: 70px;
    }

    .nav-item{
        margin-bottom: 20px;
        color: black;
    }

    .close{
        margin-bottom: 50px;
        font-size: 60px;
    }
}